<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemalocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>BetaBulls</display-name>
	
	<servlet>
		<description>
		</description>
		<display-name>AddEmpServlet</display-name>
		<servlet-name>AddEmpServlet</servlet-name>
		<servlet-class>org.prasad.AddEmployee.AddEmpServlet</servlet-class>
	</servlet>
	<servlet>
	<servlet-name>registereduserServlet</servlet-name>
    <servlet-class>registereduserServlet</servlet-class>
  </servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegistrationServlet</display-name>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>org.prasad.RegistrationForm.RegistrationServlet</servlet-class>
	</servlet>
	<servlet>
	<servlet-name>loginuserServlet</servlet-name>
    <servlet-class>loginuserServlet</servlet-class>
  </servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>org.prasad.Login.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddLeaveServlet</display-name>
		<servlet-name>AddLeaveServlet</servlet-name>
		<servlet-class>org.prasad.Leaves.AddLeave.AddLeaveServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewEmployeeServlet</display-name>
		<servlet-name>ViewEmployeeServlet</servlet-name>
		<servlet-class>org.prasad.ViewEmployee.ViewEmployeeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchEmployeeServlet</display-name>
		<servlet-name>SearchEmployeeServlet</servlet-name>
		<servlet-class>org.prasad.ViewEmployee.SearchEmployeeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ManageEmployeeServlet</display-name>
		<servlet-name>ManageEmployeeServlet</servlet-name>
		<servlet-class>org.prasad.ManageEmployee.ManageEmployeeServlet</servlet-class>
	</servlet>
	 
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>ApplyLeaveServlet</display-name>
	 	<servlet-name>ApplyLeaveServlet</servlet-name>
	 	<servlet-class>org.prasad.Leaves.AddLeave.ApplyLeaveServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>FepsLoginServlet</display-name>
	 	<servlet-name>FepsLoginServlet</servlet-name>
	 	<servlet-class>org.prasad.Login.FepsLoginServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>FepsClockServlet</display-name>
	 	<servlet-name>FepsClockServlet</servlet-name>
	 	<servlet-class>org.prasad.feps.FepsClockServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>FepsClockoutServlet</display-name>
	 	<servlet-name>FepsClockoutServlet</servlet-name>
	 	<servlet-class>org.prasad.feps.FepsClockoutServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>ViewTimeSheetServlet</display-name>
	 	<servlet-name>ViewTimeSheetServlet</servlet-name>
	 	<servlet-class>org.prasad.TimeSheet.ViewTimeSheetServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>ManageEmpServlet</display-name>
	 	<servlet-name>ManageEmpServlet</servlet-name>
	 	<servlet-class>org.prasad.ViewEmployee.ManageEmpServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>UpdateEmpServlet</display-name>
	 	<servlet-name>UpdateEmpServlet</servlet-name>
	 	<servlet-class>org.prasad.ViewEmployee.UpdateEmpServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>ProfileServlet</display-name>
	 	<servlet-name>ProfileServlet</servlet-name>
	 	<servlet-class>org.prasad.Personal.ProfileServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>PasswordChangeServlet</display-name>
	 	<servlet-name>PasswordChangeServlet</servlet-name>
	 	<servlet-class>org.prasad.Personal.PasswordChangeServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>ProfileinfServlet</display-name>
	 	<servlet-name>ProfileinfServlet</servlet-name>
	 	<servlet-class>org.prasad.Personal.ProfileServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>ProfileUpdateServlet</display-name>
	 	<servlet-name>ProfileUpdateServlet</servlet-name>
	 	<servlet-class>org.prasad.Personal.ProfileUpdateServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>PDFConvertServlet</display-name>
	 	<servlet-name>PDFConvertServlet</servlet-name>
	 	<servlet-class>org.prasad.TimeSheet.PDFConvertServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>Below9hrsServlet</display-name>
	 	<servlet-name>Below9hrsServlet</servlet-name>
	 	<servlet-class>org.prasad.Reports.Below9hrsServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>Below9hrPDF</display-name>
	 	<servlet-name>Below9hrPDF</servlet-name>
	 	<servlet-class>org.prasad.Reports.Below9hrPDF</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>EmpNameServlet</display-name>
	 	<servlet-name>EmpNameServlet</servlet-name>
	 	<servlet-class>org.prasad.Personal.EmpNameServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>UploadDownloadFileServlet</display-name>
	 	<servlet-name>UploadDownloadFileServlet</servlet-name>
	 	<servlet-class>org.prasad.Reports.UploadDownloadFileServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>ListLeavePositionServlet</display-name>
	 	<servlet-name>ListLeavePositionServlet</servlet-name>
	 	<servlet-class>org.prasad.Leaves.AddLeave.ListLeavePositionServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>MangLvServlet</display-name>
	 	<servlet-name>MangLvServlet</servlet-name>
	 	<servlet-class>org.prasad.Leaves.AddLeave.MangLvServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>ManageLeaveServlet</display-name>
	 	<servlet-name>ManageLeaveServlet</servlet-name>
	 	<servlet-class>org.prasad.Leaves.AddLeave.ManageLeaveServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>UpdateEmpLeaveServlet</display-name>
	 	<servlet-name>UpdateEmpLeaveServlet</servlet-name>
	 	<servlet-class>org.prasad.Leaves.AddLeave.UpdateEmpLeaveServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>ListLeavePDFServlet</display-name>
	 	<servlet-name>ListLeavePDFServlet</servlet-name>
	 	<servlet-class>org.prasad.Leaves.AddLeave.ListLeavePDFServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>UninformedLeaveServlet</display-name>
	 	<servlet-name>UninformedLeaveServlet</servlet-name>
	 	<servlet-class>org.prasad.Leaves.UninformedLeaveServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>ExtraLeavesServlet</display-name>
	 	<servlet-name>ExtraLeavesServlet</servlet-name>
	 	<servlet-class>org.prasad.Reports.ExtraLeavesServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>AbsenteesServlet</display-name>
	 	<servlet-name>AbsenteesServlet</servlet-name>
	 	<servlet-class>org.prasad.Reports.AbsenteesServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>AbsentPDFServlet</display-name>
	 	<servlet-name>AbsentPDFServlet</servlet-name>
	 	<servlet-class>org.prasad.Reports.AbsentPDFServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>ExtraLeavePDFServlet</display-name>
	 	<servlet-name>ExtraLeavePDFServlet</servlet-name>
	 	<servlet-class>org.prasad.Reports.ExtraLeavePDFServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>ManageAttendenceServlet</display-name>
	 	<servlet-name>ManageAttendenceServlet</servlet-name>
	 	<servlet-class>org.prasad.Attendence.ManageAttendenceServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>ListAttendenceServlet</display-name>
	 	<servlet-name>ListAttendenceServlet</servlet-name>
	 	<servlet-class>org.prasad.Attendence.ListAttendenceServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>AddAttendenceSerlvet</display-name>
	 	<servlet-name>AddAttendenceSerlvet</servlet-name>
	 	<servlet-class>org.prasad.Attendence.AddAttendenceSerlvet</servlet-class>
	 </servlet>
	  <servlet>
	 	<description>
	 	</description>
	 	<display-name>ReadExcelData</display-name>
	 	<servlet-name>ReadExcelData</servlet-name>
	 	<servlet-class>org.prasad.Attendence.ReadExcelData</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>HomeServlet</display-name>
	 	<servlet-name>HomeServlet</servlet-name>
	 	<servlet-class>org.prasad.Home.HomeServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>ListAttendencePDFServlet</display-name>
	 	<servlet-name>ListAttendencePDFServlet</servlet-name>
	 	<servlet-class>org.prasad.Attendence.ListAttendencePDFServlet</servlet-class>
	 </servlet>
	 <servlet>
	 	<description>
	 	</description>
	 	<display-name>SampleServlet</display-name>
	 	<servlet-name>SampleServlet</servlet-name>
	 	<servlet-class>org.sample.SampleServlet</servlet-class>
	 </servlet>
	
	
	<servlet-mapping>
		<servlet-name>AddEmpServlet</servlet-name>
		<url-pattern>/AddEmpServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>loginuserServlet</servlet-name>
    <url-pattern>/go</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registereduserServlet</servlet-name>
    <url-pattern>/go</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddLeaveServlet</servlet-name>
  	<url-pattern>/AddLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewEmployeeServlet</servlet-name>
  	<url-pattern>/ViewEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchEmployeeServlet</servlet-name>
  	<url-pattern>/SearchEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageEmployeeServlet</servlet-name>
  	<url-pattern>/ManageEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplyLeaveServlet</servlet-name>
  	<url-pattern>/ApplyLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FepsLoginServlet</servlet-name>
  	<url-pattern>/FepsLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FepsClockServlet</servlet-name>
  	<url-pattern>/FepsClockServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FepsClockoutServlet</servlet-name>
  	<url-pattern>/FepsClockoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewTimeSheetServlet</servlet-name>
  	<url-pattern>/ViewTimeSheetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageEmpServlet</servlet-name>
  	<url-pattern>/ManageEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmpServlet</servlet-name>
  	<url-pattern>/UpdateEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfileServlet</servlet-name>
  	<url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordChangeServlet</servlet-name>
  	<url-pattern>/PasswordChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfileinfServlet</servlet-name>
  	<url-pattern>/ProfileinfServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfileUpdateServlet</servlet-name>
  	<url-pattern>/ProfileUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PDFConvertServlet</servlet-name>
  	<url-pattern>/PDFConvertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Below9hrsServlet</servlet-name>
  	<url-pattern>/Below9hrsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Below9hrPDF</servlet-name>
  	<url-pattern>/Below9hrPDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpNameServlet</servlet-name>
  	<url-pattern>/EmpNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadDownloadFileServlet</servlet-name>
  	<url-pattern>/UploadDownloadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListLeavePositionServlet</servlet-name>
  	<url-pattern>/ListLeavePositionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MangLvServlet</servlet-name>
  	<url-pattern>/MangLvServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageLeaveServlet</servlet-name>
  	<url-pattern>/ManageLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmpLeaveServlet</servlet-name>
  	<url-pattern>/UpdateEmpLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListLeavePDFServlet</servlet-name>
  	<url-pattern>/ListLeavePDFServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UninformedLeaveServlet</servlet-name>
  	<url-pattern>/UninformedLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExtraLeavesServlet</servlet-name>
  	<url-pattern>/ExtraLeavesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AbsenteesServlet</servlet-name>
  	<url-pattern>/AbsenteesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AbsentPDFServlet</servlet-name>
  	<url-pattern>/AbsentPDFServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExtraLeavePDFServlet</servlet-name>
  	<url-pattern>/ExtraLeavePDFServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageAttendenceServlet</servlet-name>
  	<url-pattern>/ManageAttendenceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAttendenceServlet</servlet-name>
  	<url-pattern>/ListAttendenceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAttendenceSerlvet</servlet-name>
  	<url-pattern>/AddAttendenceSerlvet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>ReadExcelData</servlet-name>
  	<url-pattern>/ReadExcelData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAttendencePDFServlet</servlet-name>
  	<url-pattern>/ListAttendencePDFServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SampleServlet</servlet-name>
  	<url-pattern>/SampleServlet</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>Index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
    <param-name>tempfile.dir</param-name>
    <param-value>tmpfiles</param-value>
  </context-param>
</web-app>
